ion-content {
  //--background: url("../../../assets/img/background.png") repeat 100% 100%;
  --background: url("./../../../assets/img/background.png") repeat;
  .imagem {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 20px;
  }
  .centro {
    text-align: center;
  }

  /* Custom Skeleton Line Height and Margin */
  .custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }

  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }
}
