ion-content {
  //--background: url("../../../assets/img/background.png") repeat 100% 100%;
  --background: url("./../../../assets/img/background.png") repeat;
  .imagem {
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 20px;
  }
  .select {
    width: 20%;
    float: left;
    border-bottom: 1px solid #ccc;
  }
}
